@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Oswald:wght@700&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#main-doc {
  display: flex;
  /* gap: 2rem; */
  position: relative;
  padding: 1.5rem 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 0;
  height: 100%;
  background: white;
  border-right: 2px solid gray;
  padding: 2rem 0;
}

#navbar header {
  padding-left: 1rem;
}

#navbar ul li {
  border-top: 1px solid black;
  padding: 15px;
  list-style: none;
  cursor: pointer;
}
#navbar ul li:hover {
  background: rgb(222, 222, 222);
}
.nav-link {
  color: black;
  text-decoration: none;
}

.main-section {
  /* border-left: 2px solid gray; */
  /* border: 2px solid seagreen; */
  padding: 0 2rem;
  margin-left: 30rem;
}

.main-section header {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0;
}

.main-section p {
  font-size: 19px;
  line-height: 20px;
}

.main-section > ul {
  padding-left: 35px;
  line-height: 30px;
}
.main-section > ul > li > ul {
  padding-left: 35px;
  line-height: 30px;
}

code {
  font-family: "Encode Sans", sans-serif;
  margin: 10px;
  font-size: 18px;
}

.inline-code {
  font-family: "Encode Sans", sans-serif;
  background-color: rgb(215, 215, 215);
}

.python-code,
.bash {
  background-color: rgb(21, 32, 43);
  color: white;
  width: 100%;
  height: auto;
  margin: 5px auto;
  padding-left: 0;
  overflow-x: scroll;
}

@media (max-width: 1000px) and (min-width: 300px) {
  #main-doc {
    flex-direction: column;
  }
  #navbar {
    position: relative;
    top: 0;
    height: 50%;
    border: none;
  }
  .main-section {
    margin: 1rem;
  }
}
